:root {
    --color-black: black;
    --color-grey-hover: rgba(49, 48, 48, 0.61);
    --color-white: #fff;
    --color-gold: gold;
    --color-gold-hover: rgb(255, 217, 2);
    --color-gold: black;
    --color-blue: rgb(0, 140, 255); 
    --color-blue-hover: rgb(0, 89, 255);
    --color-bg: #faf4f0; 
    
}

body {
    font-weight: bold;
    font-family: sans-serif, Arial, Helvetica;
    color: var(--color-black);
    background-color: var(--color-bg);
    margin:0;
    border: 2px solid black;
    font-size: 1rem;
    line-height: 1.75;
}

p{
    margin-top: 0;
    margin-bottom: 1.5rem;
}

a{
    color: var(--color-black);
}

a:hover {
    color: var(--color-grey-hover);
}
 img{
    max-width: 100%;
    height:auto;
 }

 h1, h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 800;
    line-height: 1;
 }

 h1 {
    font-size: 2.2rem;
 }

@media(min-width: 1024px) {

}

.content {
    padding: 0 1rem;
}

@media(min-width: 768px) {
    .content {
        margin: 0 auto;
        max-width: 768px;
    }
}
@media(min-width: 1024px) {
    .content {
        margin: 0 auto;
        max-width: 1024px;
    }
}
@media(min-width: 1440px) {
    .content {
        margin: 0 auto;
        max-width: 1440px;
    }
}

.offscreen {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        clip: rect(1px, 1px, 1px, 1px,);
        padding:0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
}

img {
    max-width: 200px;
    height: 100px;
}

.header {
    background-color: var(--color-white);
    border-bottom: 3px solid var(--color-black);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "logo chat"
    "menu menu";
}
.header-logo  {
    grid-area: logo;
    border-right: 2px solid var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px
}

.header-chat {
    grid-area: chat;
    background-color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    text-decoration: none;
}

.header-chat:hover {
    background-color: var(--color-blue-hover);
}

.header-menu {
    grid-area: menu;
}

@media(min-width: 768px) {
    .header {
    grid-template-columns: 180px 1fr 180px;
    grid-template-areas:
    "logo menu chat";
    }
}